APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FILESYSTEM_CLOUD='spaces'
DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_ENDPOINT=
DO_SPACES_REGION=
DO_SPACES_BUCKET=
DO_SPACES_FOLDER=

EBAY_APP_ID=
EBAY_DEV_ID=
EBAY_CERT=

EBAY_AUTH_ENDPOINT=https://api.ebay.com/identity/v1/oauth2/token
EBAY_FINDING_SERVICE_URL="https://svcs.ebay.com/services/search/FindingService/v1"
EBAY_SHOPPING_URL="https://open.api.ebay.com/shopping"
EBAY_DEBUG=true
EBAY_GLOBAL_ID="EBAY-GB"
EBAY_ITEMS_CATEGORY=100
EBAY_ITEMS_GET=20
EBAY_ITEMS_FINISH=20
EBAY_SITE_ID=3
EBAY_USED_MONTHS=6
EBAY_SERVER_URL="https://api.ebay.com/ws/api.dll"
EBAY_API_VERSION=535
EBAY_EARLIEST_YEAR=1990

STATIC_PAGE=12

STRIPE_PUBLISHABLE=
STRIPE_SECRET=
CASHIER_CURRENCY=gbp
CASHIER_CURRENCY_LOCALE=en_GB

SANCTUM_STATEFUL_DOMAINS=
